
body {
    background-color: #caf0f8;
    color: #333333;
    font-family: Arial, sans-serif;
  }
  
  /* header */
  header {
    background-color: #0077b6;
    color: white;
    padding: 2em;
    text-align: center;
  }
  
  header h1 {
    margin: 0;
    font-size: 3em;
  }
  
  header p {
    margin: 0;
    font-size: 1.2em;
    margin-bottom: 20px;
  }
  
  /*main content */
  main {
    padding: 2em;
  }
  
/* flexbox  */
  .flex-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .flex-item {
    flex: 1;
    margin: 10px;
  }

  /*chatbot section */
  #chatbot {
    text-align: center;
  }
  
  /*footer */
  footer {
    background-color: #4CAF50;
    color: white;
    padding: 1em;
    text-align: center;
  }
  
#chat-window {
  width: 550px;
  margin: 0 auto;
  background-color: #1b4965;
  padding: 10px;
  border-radius: 10px;
}

#chat-messages {
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  height: 500px;
  overflow: auto;
}

#chat-form {
  display: flex;
  align-items: center;
}

#chat-input {
  flex-grow: 1;
  padding: 10px;
  margin-right: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

button[type="submit"] {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #f7efe5;
  color: #1b4965;
  border: none;
  font-size: 1rem;
  font-weight: bold;
}
.bot-message {
  font-family: "Arial", sans-serif;
  background-color: #fffbf5; /* different light color */
  text-align: justify; /* keep it right-aligned */
  padding: 15px; /* added padding */
  margin-top: 10px; /* added margin-top to create a gap */
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.user-message {
  font-family: "Arial", sans-serif;
  background-color: #5fa8d3; /* light color */
  text-align: left; /* changed text align to left */
  padding: 15px; /* added padding */
  display: flex;
  align-items: center;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 400px) {
  #chat-window {
    width: 90%;
  }
}
.main-title {
  font-size: 1.5rem;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-bottom: 0.5rem;
  color: #fffbf5;
}